{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

                     <!-- IMAGE PRINCIPALE -->
  <section id="image_principale">
      <h2 class="transparent">Bienvenue sur mon site !</h2>
  </section>
  <br><br>
                      <!-- CARROUSEL D'IMAGES  -->

<section id="galleryContainer">
    <div class="slideShowContainer">
        <div id="playPause" onclick="playPauseSlides()"></div>
        <div onclick="plusSlides(-1)" class="nextPrevBtn leftArrow"><span class="arrow arrowLeft"></span></div>
        <div onclick="plusSlides(1)" class="nextPrevBtn rightArrow"><span class="arrow arrowRight"></span></div>
        <div class="captionTextHolder"><p class="captionText slideTextFromTop"></p></div>
        <div class="imageHolder">
            <img src="{{ asset('/images/img_1.jpg') }}">
            <p class="captionText">Caption Text-01</p>
        </div>
        <div class="imageHolder">
            <img src="{{ asset('/images/img_2.jpg') }}">
            <p class="captionText">Caption Text-02</p>
        </div>
        <div class="imageHolder">
            <img src="{{ asset('/images/img_3.jpg') }}">
            <p class="captionText">Caption Text-03</p>
        </div>
        <div class="imageHolder">
            <img src="{{ asset('/images/img_4.jpg') }}">
            <p class="captionText">Caption Text-04</p>
        </div>
    </div>
    <div id="dotsContainer"></div>
</section>

    <br/><br/>

                          <!-- FORMULAIRE DE CONTACT -->

<section id="formulaire">
    <h3>Intéressé ? Contactez-moi !</h3> <br/>

</section>

    <br/><br/>

          <!-- FOOTER -->
        <footer>
      <h6>&copy; Copyright</h6>
        </footer>

{% endblock %}
