{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<section class="container-principal">
																				<!-- TITRE -->
<h3 class="titre-creation">{{ creation.titre }}</h3>
																				<!-- IMAGES -->
	<div class="affichage">
		<div class="description">
			<img id="picture" src="{{ asset('/images/' ~ creation.image) }}" alt="imageCiblée">
		</div>		
	<!-- Ne fonctionne que s'il y a un id -->
	<!-- Ne s'affiche que si il y a une seconde image -->
	{% if creation.image2 is not null or creation.image3 is not null or creation.image4 is not null %}
		<div class="choix">
			<div class="creation">
				<img src="{{ asset('/images/' ~ creation.image) }}" alt="Vignette1" onclick="affiche(this.src);">
			</div>
			{% if creation.image2 is not null %}
			<div class="creation">
				<img src="{{ asset('/images/' ~ creation.image2) }}" alt="Vignette2" onclick="affiche(this.src);">
			</div>
			{% endif %}	
			{% if creation.image3 is not null %}
		    <div class="creation">
				<img src="{{ asset('/images/' ~ creation.image3) }}" alt="Vignette3" onclick="affiche(this.src);">
			</div>
			{% endif %}	
			{% if creation.image4 is not null %}
			<div class="creation">
				<img src="{{ asset('/images/' ~ creation.image4) }}" alt="Vignette4" onclick="affiche(this.src);">
			</div>
			{% endif %}	
		</div>   
	{% endif %}	
	</div>
   
																				<!-- DESCRIPTION -->
        <div class="details">
          <h3 class="description-creation">Description :</h3>
      
          <p class="texte-description">{{ creation.description | raw }}</p>
        </div>  
																				<!-- COMMENTAIRES -->
        <div class="commentaires">
		  <h3 class="commentaires-creation">{{ creation.comments | length }} Commentaires :</h3>
		  {% for comment in creation.comments %}
			<div class="comment">
				<div class="row">
					<div class="col-3">
						{{ comment.author }} (<small>{{ comment.date | date('d/m/Y') }}</small>)
						{{ comment.title }}
					</div>
					<div class="col">
						{{ comment.comment | raw }}
					</div>
				</div>
			</div>
			{% endfor %}

		</div>  
		{% if app.user %}
		{{ form_start(commentForm) }}
		{{ form_row(commentForm) }}

		<button class="btn" type="submit">Valider</button>
		{{ form_end(commentForm) }}

		{% else %}
		<h2>Vous ne pouvez pas commenter si vous n'êtes pas connecté !</h2>
		<a href="{{path('security_connexion')}}" class="btn">Connexion</a>
		{% endif %}
</section>  
  
<script src="{{ asset('js/script.js') }}"></script>

{% endblock %}
