{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
																				<!-- A PROPOS DE MOI -->
<section id="lyline-hello">
  <img class="lyline-se-presente" src="{{ asset('images/lyline-hello.jpeg') }}" alt="lyline-hello">
</section>

<section id="qui-suis-je">
  <h2 class="qui-suis-je">Qui suis-je ?</h2>
  
  <p class="paragraphe-a-propos"> Je suis dynamique, souriante, addicte de handmake, DIY (DoItYourself).</p>  
  <p class="paragraphe-a-propos"> Frustrée par la mode proposée en magasins, je me suis prise de passion pour la conception de vêtements réalisés au crochet et/ou au tricot.</p>  
  <p class="paragraphe-a-propos">Mon blog vous présente mes créations mais, je fais aussi du sur mesure !</p>  
  <p class="paragraphe-a-propos"> Proposez-moi une idée à l'aide du formulaire de contact ci-dessous et je me ferais une joie de l'étudier.</p>  
  <p class="paragraphe-a-propos">Un besoin ? Un souhait ? Je ferai tout pour le concrétiser !</p>  
  <p class="paragraphe-a-propos"> Nous conviendrons ensemble de tous les détails en privée.</p>  
  <p class="paragraphe-a-propos"> Sinon, je suis aussi sur instagram 😉</p>  
  <p class="paragraphe-a-propos">Mes amitiés à vous !</p>
  
  <div class="salutations">
    <h2 class="signature">Lyline<span class="violet">.</span></h2>
  </div>
</section>

<section id="mes-fournisseurs">
  <h2 class="mes-fournisseurs">Mes fournisseurs</h2>
  
  <p class="paragraphe-a-propos">Je recherche avant tout un bon rapport qualité-prix, de la bonne qualité mais à moindre coût.</p>
  <p class="paragraphe-a-propos">La satisfaction d'un travail bien fait et le plaisir que cela me procure lorsque j'en fais profiter mon entourage.</p>
  <p class="paragraphe-a-propos">J'adooore Zeeman et Yarnparadis et je vous invite d'ailleurs à aller consulter leurs sites, je vous mets les liens ci-dessous :</p>
  <p class="paragraphe-a-propos"><a class="zeeman-iceyarns" alt="zeeman" href="https://www.zeeman.com/fr/" target="new">https://www.zeeman.com/fr/</a></p>
  <p class="paragraphe-a-propos"><a class="zeeman-iceyarns" href="https://www.iceyarns.com/#home" aria-multiline="iceyarn" target="new">https://www.iceyarns.com/#home</a></p>
</section>

<section id="mes-inspirations-astuces">
  <h2 class="mes-inspirations-astuces">Mes inspirations & astuces</h2>
  
  <p class="paragraphe-a-propos">Je m'inspire des tutoriels de Pinterest, Bergère de France, Phildar et parfois de mon imagination.</p>
  <p class="paragraphe-a-propos">Je me mets à la place des clientes et je tente de trouver de nouvelles idées et de me dissocier de ce que l'on trouve dans le commerce et les standards d'articles d'hiver.</p>
</section>

<section id="actions-caritatives">
   <h2 class="actions-caritatives">Mes actions caritatives</h2>
   
  <p class="paragraphe-a-propos">Je participe tous les ans à "Mets ton bonnet".</p>  
  <p class="paragraphe-a-propos">Allier le plaisir de tricoter/crocheter et aider une association ! C'est le mieux que je puisse faire.</p>
</section>
  
<section id="bonnet-innocent">
  <img class="bonnet-innocent-1" src="{{ asset('images/mon-bonnet.jpeg') }}" alt="bonnet-innocent">
  
  <img class="affiche-innocent" src="{{ asset('images/bonnet-innocent.jpg') }}" alt="affiche-innocent">
  
  <img class="bonnet-innocent-2" src="{{ asset('images/bonnet-vache.jpeg') }}" alt="bonnet-innocent">
</section>

{% endblock %}
