{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<h3>Mes créations en travaux</h3>

<section id="page_creations">
      <img class ="ensemble-creations" src="{{ asset('/images/img_1.jpg') }}" alt="creation1">   
      <img class ="ensemble-creations" src="{{ asset('/images/img_2.jpg') }}" alt="creation2">   
      <img class ="ensemble-creations" src="{{ asset('/images/img_3.jpg') }}" alt="creation3">  
      <img class ="ensemble-creations" src="{{ asset('/images/img_4.jpg') }}" alt="creation4">
</section>

<!-- FOOTER -->
<footer>
    <h6>&copy; Copyright</h6>
</footer>

{% endblock %}
