<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">  
        

        <title>{% block title %}Bienvenue sur mon site{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/mediaqueries.css') }}">
       

        {% block stylesheets %}{% endblock %}
    </head>

    <body class="container-site">
         <!-- HEADER - NAVIGATION -->

  <header class="header">
    <h1 id= "logo"><a href="{{ path('general_accueil') }}">Les créations de Lyline</a><span class="violet">.</span></h1>   

      <nav>
        <ul>
          <li><a class="nav" href="{{ path('general_accueil') }}"><span class="couleurs">.</span>Accueil</a></li>
          <li><a class="nav" href="{{ path('general_mes_creations') }}"><span class="couleurs">.</span>Mes créations</a></li>
          <li><a class="nav" href="{{ path('general_a_propos') }}"><span class="couleurs">.</span>A propos de moi</a></li>
          <li><a class="nav" href="{{ path('general_accueil') }}#formulaire"><span class="couleurs">.</span>Contactez-moi !</a></li>
        </ul>
      </nav>
      
       <div class="connexion-inscription">
      <input class="connexion" value="Se connecter" type="submit">
        <h5>Pas encore inscrit ? <a class="lien-inscription" href="{{ path('security_inscription') }}">Venez c'est par ici</a></h5>
    </div>
  </header>

      {% block body %} {% endblock %}
       
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        
        <script src="{{ asset('js/script.js') }}"></script>
        <script src="{{ asset('js/parallax.min.js') }}"></script>
        
        {% block javascripts %}{% endblock %}
        
  <footer class="footer">
    <h6 class="copyright">&copy; <script>document.write(new Date(). getFullYear());</script> Les créations de Lyline - Tous droits réservés</h6>
    <h6 class="confidentialite"><a class="politique_de_confidentialite" href="{{ path('politique_de_confidentialite') }}">Politique de confidentialité</a></h6>
    <img class="instagram" src="{{ asset('images/instagram-logo.jpg') }}" alt="instagram-logo">
  </footer>
  
   <!-- UN PETIT CODE JAVASCRIPT QUI PERMET A LA DATE DE SE GENERER ET DE SE METTRE A JOUR AUTOMATIQUEMENT -->
   
    </body>
</html>
